@import "reset.scss";

$font-family: Roboto;
$color1: #ebebeb;
$color2: #222831;
$color3: #3777b8;
$color4: #f05454;
$font-size1: 12px;
$font-size2: 18px;
$font-size3: 28px;

body {
	background-color: $color1;
	font-family: $font-family;
	color: $color2;
}

header {
	background-color: $color2;
	box-shadow:0 1px 1px $color1;
	padding: 10px 30px;
	height: 80px;
	color: $color1;
	box-sizing: border-box;
	top:-100px;
	text-align: center;
	margin: 0 auto;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
	.sticky {
		position: fixed;
		top: 0;
		width: 100%
	}
	.header-logo {
		h1 {
			font-size:  $font-size3;
			line-height: 2.1;
			margin-left: 10px;
			font-weight: 600;
			float: left;
		}
		img {
			float: left;
			padding: 0 5px;
			max-width: 70px;
		}
	}
	.header-title {
		h2 {
			position: absolute;
			left: 50%;
			font-size: $font-size3;
			font-weight: 500;
			padding: 15px 5px;
		}
	}
	.header-links {
		font-size: $font-size2;
		float: right;
		a {
			display: inline-block;
			margin: 10px 0;
			padding: 10px 10px;
			text-decoration:none;
			color: $color1;
			border-radius: 8px;
			&:hover {
				background-color: $color3;
			}
		}
	}
}
