@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

$font-family: Roboto;
$button-radius: 8px;
$color1: #e0e0e0;
$color2: #2b2b2b;
$color3: #3777b7;
$font-size1: 12px;
$font-size2: 18px;
$font-size3: 28px;

body {
	background-color: $color1;
	font-family: $font-family;
	color: $color2;
	display: flex;
	flex-wrap: wrap;
  header, nav {
		position: fixed;
	}
}

header {
	width: 100%;
	background-color: $color2;
	box-shadow: 0 1px 1px $color1;
	padding: 10px 30px;
	height: 80px;
	box-sizing: border-box;
	top: -100px;
	text-align: center;
	margin: 0 auto;
	transition: 0.3s;
	.header-logo {
		h1 {
			font-size: $font-size3;
			line-height: 2.1;
			margin-left: 10px;
			font-weight: 600;
			float: left;
		}
		img {
			float: left;
			padding: 0 5px;
			max-width: 70px;
		}
	}
	.header-title {
		display: inline-block;
		h2 {
			margin-left: 250px;
			font-size: $font-size3;
			font-weight: 500;
			padding: 15px 5px;
		}
	}
	.header-links {
		display: block;
		font-size: $font-size2;
		float: right;
		a {
			display: inline-block;
			margin: 20px 10px;
			padding-bottom: 2px;
			text-decoration: none;
			&:hover {
				border-bottom: 2px solid $color1;
			}
		}
	}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

nav {
	margin-top: 80px;
	display: inline-block;
	background-color: $color2;
	height: 92vh;
	a {
		display: block;
		text-align: center;
		padding: 12px 24px;
		transition: 0.25s;
		&:hover {
			background-color: $color1;
			color: $color2;
		}
		&.active {
			background-color: $color3;
		}
	}
}

main {
	color: $color2;
	padding: 100px 0 20px 150px;
	max-width: calc(100% - 150px);
}

footer {
  width: 100%;
	z-index: 1;
	padding: 18px 28px;
	background-color: $color2;
}
