@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

$font-family: Roboto;
$button-radius: 8px;
$color1: #e0e0e0;
$color2: #2b2b2b;
$color3: #3777b7;
$font-size1: 12px;
$font-size2: 18px;
$font-size3: 28px;

body {
  background-color: $color1;
  font-family: $font-family;
  color: $color2;
}