<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>Document</title>
</head>

<body>
  <header class="sticky">
    <div class="header-logo">
      <img src="../static/img/favicon.ico" alt="Logo">
      <h1>Name</h1>
    </div>
    <div class="header-title">
      <h2>(HEADER) Name-Page</h2>
    </div>
    <div class="header-links">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/pricing">Pricing</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/faq">FAQ</a>
    </div>
  </header>
  <nav>
    <a href="#" class="active">(NAVBAR)</a>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/pricing">Pricing</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/faq">FAQ</a>
  </nav>
  <main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ducimus quia illo illum blanditiis optio aliquam
    fugit
    molestiae rem voluptatum sint voluptates, nam officiis tempora explicabo maiores pariatur magnam natus.
    Ipsam atque voluptatum facilis vel sit ipsum reiciendis fugit tempora quod officiis eligendi, veritatis cum earum
    sapiente praesentium, asperiores qui tempore optio laudantium. Tempora adipisci excepturi est labore nihil
    repudiandae.
    Rerum placeat est, consequatur esse ullam magnam nulla. Ab doloremque ipsam molestias iusto recusandae dolores
    neque,
    aliquid explicabo adipisci. Suscipit, distinctio nam doloribus obcaecati accusantium rerum numquam soluta
    necessitatibus aliquam.
    In quia natus minus itaque perspiciatis quisquam quas obcaecati corporis animi voluptatum odit odio et aperiam
    aspernatur amet fugit corrupti, expedita maxime tenetur magnam placeat non. Labore ducimus dolorem est.
    Placeat sapiente commodi quos ad totam quis mollitia, quae, a amet esse delectus illum, laboriosam aperiam repellat
    vitae aliquam sequi reiciendis! Adipisci impedit, mollitia inventore maiores eligendi iure quis? Illo?
    Officiis suscipit eveniet, veniam voluptas iusto totam quis doloribus maiores quasi a labore obcaecati beatae ipsa
    in
    ipsum, tempora reiciendis. Quisquam est omnis earum facilis animi numquam dicta officiis quibusdam.
    Neque commodi nemo deleniti eos aliquam quos atque pariatur beatae quaerat eligendi esse enim, fugiat nihil
    perferendis perspiciatis provident impedit rerum repudiandae illo cupiditate repellat dolores vel! Vel, qui laborum?
    Suscipit consequuntur facere quasi facilis adipisci quod eaque. Perferendis reprehenderit sed hic dolorem soluta
    modi
    facere laborum. Sunt accusantium eum repudiandae soluta minus nesciunt, ratione delectus ex similique voluptates
    fuga!
    Voluptatem odio est iste ratione vitae velit tenetur illum, quo, excepturi pariatur nisi delectus! Aspernatur
    dignissimos accusamus, totam corrupti excepturi consequuntur animi minus assumenda consequatur. Dicta eaque minima
    placeat sit.
    Nulla omnis incidunt porro fugit excepturi perspiciatis cumque ipsam, earum officia nobis fuga itaque dolores!
    Dolor,
    natus praesentium. Facilis aliquam velit amet cupiditate vitae quidem sint ullam praesentium eveniet explicabo.
    Amet magni laboriosam, nulla, minus cum ratione consequatur quas recusandae, aperiam obcaecati maiores velit quae?
    Nostrum tenetur vitae aperiam neque doloremque id, quo, officiis omnis atque similique esse fugiat fugit?
    Fuga sit laboriosam animi dolorum explicabo nemo molestias. Voluptatem nisi dolorem natus animi obcaecati itaque,
    expedita ratione porro libero ullam sit recusandae asperiores amet neque. Doloremque eius labore sint cumque?
    Consequuntur, ad nemo deleniti, magni quas voluptates suscipit libero doloremque veniam quo necessitatibus delectus
    iusto officia ipsa eligendi dolorum. Sequi optio ipsam eius. Possimus natus quas, ad ea officia qui?
    At fugiat temporibus, quod iure ab quos. Eligendi nesciunt magni voluptatem ad! Vero blanditiis culpa maiores
    officia
    sint alias fugit sapiente inventore voluptas dolores omnis, nulla eius similique, commodi eos!
    Eius illum saepe tenetur, eaque dolor quaerat, laudantium, cum officia nobis aut ipsum consequatur. Facilis autem
    quibusdam ducimus dolorum asperiores facere temporibus itaque pariatur, doloremque eum minus aut eligendi eaque.
    Soluta et sed impedit esse! Quos animi fugiat, tenetur accusamus odit ut quae doloribus id ipsum mollitia laboriosam
    perspiciatis earum placeat, blanditiis inventore eum harum minima eligendi soluta quisquam aliquid!
    Repudiandae assumenda a architecto placeat, explicabo possimus quibusdam earum ullam beatae. Voluptate ipsam unde
    quo
    quae dolor nemo quam, cumque nihil corrupti consequuntur labore nobis quis et molestias corporis iste.
    Nobis eaque expedita ad ratione, recusandae aliquid dolorum vel alias illo dolore eveniet saepe obcaecati iste
    minima?
    Saepe hic animi nulla placeat, molestias, dicta voluptate perspiciatis eum quasi, iste rerum!
    Ex nisi, similique veniam dicta a praesentium saepe voluptatem voluptatibus optio aperiam alias. Explicabo, in
    dolorem. Distinctio labore eveniet recusandae perspiciatis nobis numquam similique repellat aspernatur nam
    veritatis?
    Asperiores, earum!
    Consectetur, incidunt rerum. Suscipit culpa molestiae tenetur ea dolore eligendi eos recusandae laudantium assumenda
    aliquam eveniet quibusdam sint voluptate ipsa, sequi, ratione eius quidem eum dignissimos numquam a illum
    necessitatibus.
    Ducimus iusto eos distinctio odit quo, perspiciatis optio enim quis quam laborum? Odit maxime dolores, in sunt,
    ipsam
    tempore natus aut placeat voluptatem, praesentium quod veniam accusantium nulla asperiores quas.
    Quas voluptatem delectus quia, eius adipisci maiores harum et itaque necessitatibus impedit earum maxime repellat,
    voluptatum qui quibusdam animi corrupti illo accusamus laudantium. Quibusdam vitae nam quia temporibus, sunt
    accusantium?
    Aut minus illum totam, sint officia nam facilis ipsam voluptas molestias laborum quae, aliquid quis ipsa! Magnam id
    maiores suscipit facere, eaque veritatis eum nam cum beatae facilis soluta modi.
    Vitae illum, necessitatibus tempore officiis nulla saepe minus soluta voluptatem alias assumenda tenetur accusamus
    est
    omnis amet! Culpa a perferendis porro iste repellat, molestias autem quod possimus blanditiis, quae ut!
    Ut quas excepturi et, earum velit quos amet similique placeat, sapiente veniam nisi animi aliquid, nesciunt
    recusandae
    cum? Saepe enim in odit unde, molestiae dolorem sit iure voluptatibus ex et.
    Explicabo error ab minima qui libero illo vel officiis quisquam minus eligendi unde nostrum facilis molestiae,
    maiores
    quae corporis temporibus aperiam veritatis vitae quod mollitia quidem consequuntur ducimus nulla? Soluta.
    Atque, voluptates soluta! Repudiandae culpa saepe magnam eaque blanditiis voluptates assumenda autem odio, hic ullam
    nisi suscipit quis dolorum quo maxime. Aspernatur ex modi iusto dolores sunt animi ab reiciendis.
    Nulla voluptate esse, consequuntur eius mollitia maiores praesentium voluptatibus quisquam similique labore! Et,
    cupiditate expedita incidunt reprehenderit nihil saepe ipsam illo laudantium deleniti assumenda nostrum voluptatem
    dolorum. Tenetur, eveniet dolorem!
    Optio, dolore deleniti esse iure iusto in magni temporibus id quia. Suscipit accusantium quod nisi cupiditate
    tenetur
    dolorem a quibusdam dignissimos. Quo, nam? Blanditiis ex, dignissimos maxime odio accusamus saepe?
    Possimus earum magnam dicta impedit quibusdam neque eum voluptatem autem rem. Repellat rerum magni accusantium
    commodi
    cumque quod quas sapiente id suscipit, exercitationem in saepe? Consequuntur ad voluptatibus delectus debitis?
    Placeat, consequatur fugit! Adipisci fugiat repellat excepturi, maiores corporis, quibusdam eligendi illum odio,
    saepe
    dolorum officia facilis quidem in! Deserunt, corrupti inventore quas voluptates deleniti corporis est minus dicta
    nam.
    Dolorem, placeat blanditiis fuga eaque quasi labore mollitia debitis esse odio repellat fugiat. Reprehenderit aut
    assumenda cum nisi. Asperiores fuga beatae tempore unde, debitis vero aperiam! Accusamus porro praesentium tenetur!
    Maiores voluptatibus velit voluptatem, quo ea sapiente aperiam non architecto iusto a dolorem eligendi mollitia
    totam
    consequuntur perspiciatis facere temporibus saepe at dolores incidunt numquam. Consectetur tenetur commodi libero
    porro.
    Beatae, quia esse error magnam nostrum molestias quas quis. Culpa praesentium adipisci consequatur odio nostrum
    explicabo, optio cumque laborum, eius ducimus sunt nulla ullam tempore voluptas ratione eligendi officiis ea.
    Atque laborum sunt totam expedita vel nulla, dolor obcaecati modi nostrum distinctio ex eos molestiae similique!
    Similique, accusantium. Ipsa nesciunt repellendus labore earum voluptate non blanditiis aperiam, sunt doloremque
    tenetur?
    Aspernatur velit vero reprehenderit laborum quam! Itaque error illum inventore consectetur minus tenetur tempora
    iure,
    amet et, iste placeat provident sequi dolor tempore ullam unde laudantium! Harum quae suscipit explicabo.
    Commodi corrupti praesentium explicabo iusto doloribus quidem beatae temporibus nemo, aliquam expedita repellat
    laboriosam dolor nam. Debitis, doloremque soluta ipsum maxime molestias eaque, tenetur deserunt odit, aspernatur
    nihil
    quae eum!
    Quaerat unde quam praesentium velit, sint deleniti illo id molestiae tempora fugit voluptatum iusto sapiente quo
    repudiandae sed at numquam culpa explicabo possimus esse ab nam perferendis in dolor. Eligendi?
    Voluptas veniam corrupti libero alias, dolore tempora eos saepe harum quidem, unde deleniti ex ea obcaecati facere
    fugit vero in nostrum. Error autem neque tenetur tempora cupiditate similique officia minima?
    Sed sequi nemo vero possimus hic vitae repudiandae ipsam ullam, excepturi odio sunt, cumque minima nesciunt
    asperiores
    quos. Aliquid obcaecati at molestiae aspernatur enim, repellendus numquam incidunt ab sapiente hic!
    Quas repellendus ea, veniam corporis blanditiis tenetur soluta! Magnam earum in libero! Asperiores molestiae dolores
    aut qui, sunt blanditiis saepe pariatur itaque, quibusdam numquam necessitatibus vel cupiditate similique recusandae
    totam?
    Recusandae placeat quis voluptatem labore, quae vel. Tempore dicta laborum et adipisci, quia dolores expedita iste?
    Distinctio unde vitae quia molestiae enim doloribus iste doloremque facilis, aliquam mollitia. Aut, animi!
    Numquam maiores fugiat reiciendis enim odit? Nostrum sint quam consequatur quasi, officia dignissimos aspernatur
    perspiciatis magni repudiandae doloremque autem quo excepturi quis laudantium nisi odio, placeat eaque maiores
    nesciunt voluptas!
    Labore et beatae dolorem nam est quas pariatur reiciendis quaerat excepturi, ab odit, voluptatum libero vitae, cum
    eos
    cumque placeat aliquam maiores cupiditate accusantium perferendis? Cum fugiat provident aut saepe!
    Officia adipisci dolorem quod quas deserunt? Quidem labore architecto odit cum doloribus ipsa consectetur corrupti
    fugiat placeat nulla ea voluptatum maiores id, vitae dignissimos atque ratione provident laborum aliquid
    consequuntur.
    Sed, minus dolor placeat quo quae voluptas odit iste non voluptatem molestias, debitis amet impedit id ad
    temporibus.
    Maxime adipisci vel nulla aliquam itaque, quo dignissimos autem quae illo. Illo.
    Repudiandae magnam quis non vitae deleniti atque dolore, alias quibusdam cum numquam libero iusto ut debitis! Enim,
    soluta similique. Delectus amet, sed soluta deserunt explicabo laboriosam ipsa quasi voluptate aperiam.
    Illum dignissimos ex facere ut blanditiis a nemo dolores veritatis molestias earum beatae doloribus quidem, veniam
    quod, aperiam numquam rerum sint voluptatibus voluptates neque maiores! Suscipit veritatis incidunt dignissimos
    voluptas?
    Enim repellat quidem, vel iusto esse, maxime perspiciatis, voluptatibus rerum non quaerat minima nulla temporibus!
    Expedita laboriosam, sunt laborum nesciunt, commodi officia itaque blanditiis asperiores, cum voluptates assumenda
    alias iure?
    Possimus iure dolore architecto commodi optio modi laudantium quae! Iste quam natus consectetur at ut. Saepe
    corporis
    laudantium exercitationem asperiores, sit, nam ipsam natus placeat, amet obcaecati ullam. Magnam, assumenda.
    Eius, eaque temporibus incidunt velit tempore aut quos aliquam odio sunt itaque quaerat exercitationem dignissimos
    eum
    consequuntur maxime voluptate distinctio dolores. Distinctio exercitationem odit repudiandae voluptates, provident
    ab!
    Ipsum, iste!
    Nulla, nam voluptatibus animi veniam molestiae tenetur suscipit eos tempora earum autem recusandae beatae neque.
    Aspernatur et distinctio odit accusantium voluptatibus quae suscipit quidem illum in, doloremque veritatis sunt
    quibusdam!
    Ipsa, voluptatum optio. Itaque unde doloremque commodi in consequuntur aut cumque excepturi deserunt architecto
    corrupti placeat, quis natus deleniti rem culpa error officiis. Soluta aliquam enim similique dolorem recusandae
    laudantium!
    Fugiat ex iure quaerat fuga saepe, vitae natus dicta voluptate minus iusto tenetur provident dolores ratione ad
    voluptates rem voluptatum earum at deleniti non facilis. Officiis tempore magni eum consectetur.
    Aliquam necessitatibus placeat tempora, temporibus architecto praesentium provident velit fugit dolor ab a
    cupiditate
    expedita nostrum maxime odit veritatis minus, esse nesciunt ratione recusandae vero, sunt numquam! Minima, similique
    nisi?
    Placeat, consequuntur ipsam? Neque, rerum dolor. Est praesentium, iusto reprehenderit quibusdam a, ad recusandae id
    esse necessitatibus ullam amet. Velit culpa similique maiores at facilis libero excepturi iste provident maxime.
    Nemo vitae autem expedita quidem doloremque id deserunt eaque nihil animi fugit repellat, iusto molestiae! Sequi
    similique, illum ad perspiciatis facere, impedit pariatur id delectus mollitia nihil tempore laudantium libero.
    Ipsum similique doloribus vitae, illum provident reiciendis sit quae vero, ex autem, repellat cumque laboriosam a
    commodi necessitatibus! Harum voluptate minus sed reprehenderit eveniet cumque, nam illo sit voluptatibus quaerat.
    Odit ratione, nihil, iusto repudiandae ut assumenda consectetur illum itaque ipsum minima quisquam, provident harum
    nam veritatis! Dolorem, dolores necessitatibus impedit sed quaerat totam doloremque natus, vitae eveniet quisquam a.
  </main>
  <footer>
    <p>(FOOTER)</p>
    <p>Author: Marat Remushev<br>
      <a href="http://mremushev@gmail.com">mremushev@gmail.com</a>
    </p>
  </footer>
  <script src="../static/js/index.js"></script>
</body>

</html>