<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../static/styles/style.css">
  <title>Document</title>
</head>

<body>
  <header class="sticky">
    <div class="header-logo">
      <img src="../static/images/favicon.ico" alt="Logo">
      <h1>Name</h1>
    </div>
    <div class="header-title">
      <h2>(HEADER) Name-Page</h2>
    </div>
    <div class="header-links">
      <a href="#">Home</a>
      <a href="#">Blog</a>
      <a href="#">Pricing</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">FAQ</a>
    </div>
  </header>
  <nav>
    <a href="#" class='active'>(NAVBAR)</a>
    <a href="#"'>Home</a>
    <a href="#">Blog</a>
    <a href="#">Pricing</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
  </nav>
  <main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aperiam ullam sapiente ducimus unde minus accusantium, cum fugit quos sequi quisquam molestias illo reprehenderit necessitatibus, ea ab sint deleniti vitae.
    Et, repellat. Repellat reprehenderit temporibus quos aliquam voluptatibus illum nobis odio suscipit exercitationem corrupti, voluptatum nemo. Consequuntur voluptatum architecto ut neque, ducimus dolore facere debitis, dolores quam fuga, aperiam harum.
    Vel adipisci atque cumque aspernatur aliquam! Ea, magnam. Reprehenderit atque qui sint aliquam iure ipsum rem dolorem placeat ea corporis et, suscipit perferendis, delectus, repudiandae ex harum aut. Impedit, eaque.
    Vitae rem magni sed odio! Quia modi alias doloremque aliquid recusandae, sint iusto, ducimus officia adipisci vero a asperiores ipsam omnis est laborum reprehenderit? Iste aliquid ullam quis cupiditate nemo?
    Quidem error voluptates inventore, impedit quos atque illo ipsum nemo, temporibus dolores aspernatur rem harum amet provident aut! Molestiae, minus quae itaque atque a eaque eius ratione! Ipsum, incidunt dignissimos?
    Alias laborum molestiae illo minus. Sequi, nisi labore! Aut, odit. Labore consequuntur maiores molestias ipsam autem quaerat voluptas deleniti totam, dolorum animi dignissimos cumque optio aut tempora voluptate eligendi atque.
    Ut repellat commodi omnis recusandae cum. Magni dignissimos minus fuga facilis dolorum veniam saepe id at ipsam architecto omnis debitis quia est quidem eaque tempora, corporis, corrupti cupiditate. Expedita, eos.
    Molestias voluptatibus eaque ipsum, praesentium assumenda perspiciatis modi? Nemo libero suscipit ducimus voluptatum delectus ratione in. Officia incidunt tempora neque consequatur fugit esse, provident doloribus voluptatibus obcaecati quo debitis odit.
    Pariatur, necessitatibus? Sunt neque aperiam, facere quia nam dignissimos porro voluptatem sapiente, velit rerum tempore minima eveniet reprehenderit! Voluptatem tenetur libero modi dignissimos porro voluptates est deleniti, fugit sequi aspernatur.
    Quo dolorum, fuga nobis accusamus at commodi optio itaque corrupti. Alias ex repellendus ipsa, pariatur ut necessitatibus adipisci voluptatum nihil, accusantium ducimus excepturi officiis beatae libero molestiae repellat error aut!
  </main>
  <footer>
    <p>Author: Marat Remushev<br>
    <a href="mremushev@gmail.com">mremushev@gmail.com</a></p>
  </footer>
  <script src="../static/scripts/index.js"></script>
</body>
</html>
